@model IEnumerable<WISModels.InvoiceDetailModel>

<div class="table-responsive row col-md-12">
    @Html.Hidden("InvoiceDetails", Model)
   
    <table id="itemtbl" class="table table-striped table-bordered table-condensed col-md-12">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Unit Cost</th>
                <th>Qty</th>
                <th>CostCode/GLCode</th>
                <th>LineTotal</th>
                <th></th>
            </tr>
        </thead>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var result = @Model.FirstOrDefault().ItemInventoryDescription == null;
                <tbody>
                    <tr>
                        <td>@item.ItemInventoryID</td>
                        @if (result == true)
                        {
                            <td>@item.NonInventoryItem</td>
                        }
                        else
                        {
                            <td>@item.ItemInventoryDescription</td>
                        }
                        <td>@item.ItemInventoryUnitCost</td>
                        <td>@item.InvoiceDetailQuantity</td>
                        <td>@item.InvoiceDetailCostCodeGL</td>
                        <td>@Math.Round(item.InvoiceDetailLineItemTotal ?? 0, 2)</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-success" onclick="EditInvoiceDtl(@item.InvoiceDetailID)"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="#" class="btn btn-sm btn-danger" onclick="DeleteInvoiceDtl(@item.InvoiceDetailID)"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>

    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            Total Amount :<strong>$ @Math.Round(Model.Sum(p => p.InvoiceDetailLineItemTotal) ?? 0, 2)</strong>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/plugins/autocomplete/jquery.auto-complete.min.js"></script>
    <script src="~/Content/plugins/autocomplete/jquery.ui.autocomplete.scroll.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

     

    </script>
    }