@model WISModels.EstimateModel
@{
    ViewBag.Title = "AddEstimateItem";
}
<style>
    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #0480be;
        color: white;
    }
</style>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/plugins/autocomplete/jquery.auto-complete.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<br /><br />
<h2 class="row left">New Estimate</h2>

@using (Html.BeginForm("SaveEstimateDetails", "Invoice", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmDetails" }))
{
    @Html.HiddenFor(p => p.Estimate)
    @Html.HiddenFor(p => p.Project)
    @Html.HiddenFor(p => p.Status)
    @Html.HiddenFor(p => p.LocationID)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 ">Client</label>
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.ClientTypeID, ViewBag.client as IEnumerable<SelectListItem>, "--Select--", new { Class = "form-control", @onchange = "javascript:GetClient();" })
                @Html.ValidationMessageFor(model => model.ClientTypeID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display:none" id="extclientdiv">
            <label class="control-label col-xs-3 ">ExternalClient</label>
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.ExternalClientID, ViewBag.ExternalClient as IEnumerable<SelectListItem>, "--Select--", new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExternalClientID, "", new { @class = "text-danger" })
                <a class="btn-link col-sm-3" id="extclientId" href="#" onclick="javascript:Addexternalclient()">AddNewClient</a>
            </div>
        </div>
        <div class="form-group" id="employediv" style="display:none">
            <label class="control-label col-xs-3 ">Employee</label>
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.Employee, ViewBag.Employee as IEnumerable<SelectListItem>, new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.Employee, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="Locationdiv">
            <label class="control-label col-xs-3 ">StockLocation</label>
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.LocationID, ViewBag.Location as IEnumerable<SelectListItem>, "--All--", new { Class = "form-control" })            
                @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="Projectdiv">
            <label class="control-label col-xs-3 ">Project</label>
            <div class="col-sm-7 ui-widget">            
                @Html.TextBoxFor(model => model.InvoiceJobNumber, new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.InvoiceJobNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row col-md-6">

        <div class="form-group">
            <label class="control-label col-xs-4 ">Date of Issue</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.EstimateDate, new { @class = "form-control Datepicker" })
                @Html.ValidationMessageFor(model => model.EstimateDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4 ">Vendor#</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Vendor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Vendor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4 ">Vendor Invoice#</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.EstimateVendor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstimateVendor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div id="dvDetails">
        @Html.Partial("_estimateDetails", Model.EstimateDetails)
    </div>

    <div class="row pull-left">
        <button id="AddButtonId" type="button" class="btn btn-success" onclick="javascript:AddProdItem()">Add Line&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <br /> <br /> <br /> <br /> <br />

    <div class="col-md-12 form-inline" style="text-align:center">
        <div class="form-group">
            @if (User.IsInRole("WISTERMS"))
            {
                <a href="#" onclick="javascript:return SubmitTerms();">Default Terms</a><br />
            }
            <label for="date" class="control-label col-xs-2 ">Terms</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(p => p.defaultdetails.SingleOrDefault().DefaultValue, new { @class = "form-control", @readonly = true, rows = 5, columns = 25 })
                @Html.ValidationMessageFor(p => p.DefaultValue, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <br />
            <label for="date" class="control-label col-xs-2 ">Notes</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(p => p.EstimateNotes, new { @class = "form-control", rows = 5, columns = 25 })
                @Html.ValidationMessageFor(p => p.EstimateNotes, "", new { @class = "text-danger" })
            </div>
        </div>
    </div> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />

    <div>
        <button class="btn btn-primary" id="btnSave" value="Draft" type="submit" onclick="javascript:SubmitEstimate('D')">Save as Draft</button>  &nbsp; &nbsp;  
        <button class="btn btn-primary" id="btnSave" value="Me" type="submit" onclick="javascript:SubmitEstimate('ME')">Send</button>
    </div>
 }

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#004990">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add  Item</h4>
            </div>
            <div id="divbody" class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Termsmodal" tabindex="-12" role="dialog" aria-labelledby="TermsLabel" aria-hidden="true">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="div" class="modal-body">
                Terms
                @Html.TextArea("txtnotes", Model.DefaultValue, new { @class = "form-control", @rows = 4 })
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnSave" type="button" onclick="javascript:saveTerms()">Save</button>
                <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/plugins/autocomplete/jquery.auto-complete.min.js"></script>
    <script src="~/Content/plugins/autocomplete/jquery.ui.autocomplete.scroll.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var result = '@ViewBag.Result';
            if (result != "") {
                alert(result + " is Out of Stock");
                result = "";
            }
            $('.Datepicker').datepicker("setDate", new Date());

            $('.Datepicker').datepicker();

            $("#InvoiceJobNumber").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Invoice/GetProjects",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.JobDescription, value: item.JobDescription };
                            }))                          
                        }
                    })
                },
                minLength: 3,
                maxShowItems: 8,
                select: function (event, ui) {                  
                }
            });

           
        });
        function SubmitTerms() {
            $("#Termsmodal").modal("show");
        };      

        function saveTerms() {
            var txt = $("#txtnotes").val();
            var loadurl = '@Url.Action("saveTermsValtoDb", "Invoice")';

            $.ajax(loadurl, {
                type: "Post",
                cache: false,
                data: { termsVal: txt, },
                success: function (data, textStatus, jqXHR) {                   
                    $("#Termsmodal").modal("hide");
                }
            });
        }
       
        function GetClient() {
            var cl = $('#ClientTypeID').val();
            if (cl == 1) {
                $("#employediv").show();
                $("#Projectdiv").hide();
                $("#extclientdiv").hide();
            } else if (cl == 2) {
                $("#employediv").hide();
                $("#Projectdiv").show();
                $("#extclientdiv").hide();
            } else if (cl == 3) {
                $("#employediv").hide();
                $("#Projectdiv").hide();
                $("#extclientdiv").show();
            }
        }

        function AddProdItem() {
            var loc = $("#LocationID").val();
            var loadurl = '@Url.Action("PopupAddEstimateItem", "Invoice")'+"?Location="+loc;
            $("#divbody").html("Content loading please wait...");
            $("#myModalLabel").html("Add Estimate Details");

            $.ajax(loadurl, {
                cache: false,
                data: { Location: loc },
                success: function (data, textStatus, jqXHR) {
                    $("#divbody").html(data);
                    $("#myModal").modal("show");
                    $("#EstimateDescription").autocomplete({
                source: function (request, response) {
                    debugger;
                    $.ajax({
                        url: "/Invoice/GetCategories",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.ItemCategoryDescription, value: item.ItemCategoryDescription };
                            }))
                        }
                    })
                },
                appendTo: "#frmDetails",
                minLength: 3,
                maxShowItems: 8,
                focus: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#ItemInventoryDescription").val(ui.item.ItemCategoryDescription);                   
                }
            });
                },
                dataType: "html"
            });
        }


        function Addexternalclient() {
             var loadurl = '@Url.Action("ExternalClientInfo", "Invoice")';
            $("#divbody").html("Content loading please wait...");
            $("#myModalLabel").html("New Client");

            $.ajax(loadurl, {
                cache: false,
                success: function (data, textStatus, jqXHR) {
                    $("#divbody").html(data);
                    $("#myModal").modal("show");
                },
                dataType: "html"
            });
        }

        var Maxqty = 0;
        var Id = 0;
        function GetEstimateDetails(/*edit=""*/) {

            var itm = $('#ItemInventoryID option:selected').val();
            var lst = itm.split("|");
            Id = lst[0];
            Maxqty = parseInt(lst[2]);
                $('#InvoiceDetailQuantity').val("");
                $("#InvoiceDetailLineItemTotal").val("");
                $("#ItemInventoryDescription").val($('#ItemInventoryID option:selected').text());
            $("#ItemInventoryUnitCost").val(((Math.round(lst[1] * 100) / 100).toFixed(2)));

        }
        function clearData() {
            $('#EstimateDetailQuantity').val("");
            $("#EstimateDetailLineItemTotal").val("");
            GetEstimateDetails();

        }

        function PopulateItmTotal() {
            var item = $('#ItemInventoryCost').val();
            Maxqty = parseInt($('#EstimateDetailQuantity').val());
            var qnty = parseInt($('#EstimateQuantity').val());
            if (qnty > Maxqty) {
                alert("Available stock is :" + Maxqty);
                $('#EstimateQuantity').val(Maxqty);
                $("#EstimateDetailLineItemTotal").val(item * Maxqty);
            } else {
                $("#EstimateDetailLineItemTotal").val(item * qnty);
            }
        }

         function EditSaveItem() {
             var loadurl = '@Url.Action("SaveEditInvoicedtls", "Invoice")';
             var data = $("#frmEditDetails").serialize();
            $.ajax(loadurl, {
                type: "Post",
                cache: false,
                data: data,
                success: function (result, textStatus, jqXHR) {
                    $("#dvDetails").html(result);
                    $("#NonInventoryItem").html(data.NonInventoryItem);
                    $("#myModal").modal("hide");
                }
            });
         }

        function SaveEstimateItem() {
            var price = $('#ItemInventoryCost').val();
            var qnty = parseInt($('#EstimateQuantity').val());
            var Code = $('#EstimateDetailCostCodeGL').val();
            var descp = $('#ItemInventoryID option:selected').text();
            var categ = $("#ItemCategoryID option:selected").val();
            var catTxt = $("#ItemCategoryID option:selected").text();
            var loadurl = '@Url.Action("AddEstimateItems", "Invoice")';
            var loca = $("#LocationID").val();
            $.ajax(loadurl, {
                type: "Post",
                cache: false,
                data: { Id: Id, qty: qnty, price: price, CGCode: Code, desc: descp, cat: categ, catText: catTxt, locaton: loca},
                success: function (data, textStatus, jqXHR) {
                    $("#dvDetails").html(data);
                    $("#myModal").modal("hide");
                }

            });
        }
        function SaveEstimateItem1() {
            var EstimateID = $("#Estimate").val()
            var price = $('#ItemInventoryCost').val();
            var qnty = parseInt($('#EstimateQuantity').val());
            var Code = $('#EstimateDetailCostCodeGL').val();
            var it1 = $('#NonInventoryItem').val();
             var loadurl = '@Url.Action("AddEstimateItems1", "Invoice")';

            $.ajax(loadurl, {
                type: "Post",
                cache: false,
                data: { Id: Id, qty: qnty, price: price, CGCode: Code, itm1: it1, EstimateId: EstimateID},
                success: function (data, textStatus, jqXHR) {
                    $("#dvDetails").html(data);
                    $("#myModal").modal("hide");
                }

            });
        }

        function EditEstimateDtl(EstimateDetailID) {
            $('#EstimateDetailQuantity').val("");
            $("#EstimateDetailLineItemTotal").val("");
            var loadurl = '@Url.Action("EditEstimateDetailItem", "Invoice")' + "?EstimateDetailID=" + EstimateDetailID;
            $("#divbody").html("Content loading please wait...");
            $("#myModalLabel").html("Edit Estimate Details");
            $("#divbody").load(loadurl, function () {
                hide();             
                $("#myModal").modal("show");
            });
        }

        function EditSaveEstItem() {
             var loadurl = '@Url.Action("SaveEditEstimatedtls", "Invoice")';
             var data = $("#frmEditDetails").serialize();
            
            $.ajax(loadurl, {
                type: "Post",
                cache: false,
                data: data,
                success: function (result, textStatus, jqXHR) {
                    $("#dvDetails").html(result);
                    $("#myModal").modal("hide");
                }
            });
         }
        function DeleteEstimateDtl(EstimateDetailID) {
            var conf = confirm("Are you sure you want to delete this item ?");
            if (conf > 0) {
                var loadurl = '@Url.Action("DeleteEstimateDetailItem", "Invoice")';
                $.ajax({
                    type: "Post",
                    url: loadurl,
                    data: { EstimateDetailId: EstimateDetailID },
                    success: function (result) {
                        $("#dvDetails").html(result);
                        $("#myModal").modal("hide");
                    }, error: function (result) {
                        alert(result.responseText);
                    }
                });
            }
        }
        function GetItemOnLoc() {

        }
        function SubmitEstimate(type) {
            $("#Status").val(type);
        }
        function InventoryDtls() {
            var itm = $('#Inventory option:selected').val();
            if (itm == 2) {
                $("#inventorydiv").show();
                $("#itmdiv").hide();
                $("#Categorydiv").hide();
                $("#footer1").show();
                $("#footer").hide();
            }
            else if (itm == 1) {
                $("#inventorydiv").hide();
                $("#itmdiv").show();
                $("#Categorydiv").show();
                $("#footer").show();
                $("#footer1").hide();
            }
        }
        function GetItemInventoryList() {
            var catId = $('#ItemCategoryID').val();
            var dropdownId = $('#ItemInventoryID');
            $.ajax({
                type: "GET",
                url: '/Invoice/GetItemInventoryList',
                data: { CategoryId: catId },
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    $(dropdownId).html('');
                    if (result) {
                        $(dropdownId).append("<option value = '' >--Select--</option >");
                        $.each(result, function (index, rs) {
                            $(dropdownId).append("<option value='" + rs.Value + "'>" + rs.Text + "</option>");
                        });
                    }
                }
            });
        }

        function GetExisProdDetails() {
            var itm = $('#ItemInventoryID option:selected').val();
            var loadurl = '@Url.Action("GetProdDetails", "Invoice")';
            var lst = itm.split("|");
            Id = lst[0];
            Maxqty = parseInt(lst[2]);
            $.ajax(loadurl, {
                type: "Get",
                cache: false,
                data: { id: itm},
                success: function (data, textStatus, jqXHR) {
                    $("#prePrice").val(data.ItemInventoryQuantity);
                    $("#currentqty").html(data.ItemInventoryQuantity);
                    $('#ItemInventoryCost').val(((Math.round(data.ItemInventorySalesPrice * 100) / 100).toFixed(2)));
                    $('#EstimateDetailQuantity').val(data.ItemInventoryQuantity);
                    $("#EstimateDetailLineItemTotal").val("");
                    $("#EstimateDetailQuantity").val("");
                }
            });
        }

        function hide() {
            var NonInv = $('#NonInventoryItem').val();
            var ItmDes = $('#EstimateDescription').val();
            if (ItmDes == '') {
                $("#dropdowndiv").hide();
                $("#textboxdiv").show();
            }
            else if (NonInv == '') {
                $("#dropdowndiv").show();
                $("#textboxdiv").hide();
            }
        }
    </script>
}
