
@model WISModels.InvoiceModel
@{
    ViewBag.Title = "Invoice Summary";
}
<br/>
<style>
    .pdf-page {
        position: relative;
        margin: 0 auto;
        padding: .4in .3in;
        color: #333;
        background-color: #fff;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
        box-sizing: border-box;
    }

    .pdf-header {
        padding-bottom: .2in;
        margin-bottom: .3in;
        border-bottom: 1px solid #e5e5e5;
    }

    .invoice-number {
        padding-top: .1in;
        float: right;
    }

    .pdf-footer {
        position: absolute;
        bottom: .25in;
        left: .3in;
        right: .3in;
        padding-top: 0.05in;
        border-top: 1px solid #e5e5e5;
        font-size: 0.9em;
        text-align: left;
        color: #787878;
    }

    .addresses {
        font-size: 12px;
    }

        .addresses:after {
            display: block;
            content: "";
            clear: both;
        }

    .for {
        float: left;
    }

    .from {
        float: right;
    }

    .addresses p {
        color: #787878;
        padding: .05in 0;
        border-top: 1px solid #e5e5e5;
    }

        .addresses p:first-of-type {
            border-top: 0;
        }

    .pdf-body {
        margin-top: .3in;
    }

    .company-logo {
        font-size: 1.8em;
        font-weight: bold;
        color: #3aabf0;
    }

    .signature {
        padding-top: .3in;
    }

    /* Dimensions other than px and em should be divided by 1.33 for the proper PDF output */
    .size-a4 {
        width: 6.2in;
        height: 8.7in;
    }

    .size-letter {
        width: 6.3in;
        height: 8.2in;
    }

    .size-executive {
        width: 5.4in;
        height: 7.8in;
        font-size: 12px;
    }

        .size-executive .pdf-header {
            margin-bottom: .1in;
        }
    #pdfDiv{
        width:1300px;
        height:1000px;
    }
</style>

<div class="box wide hidden-on-narrow">
    <div class="box-col">
        <a role="button" class="btn btn-primary k-button k-button-icontext k-grid-pdf" onclick="javascript:getPDF()" href="#"><span class="k-button k-button-icontext k-grid-pdf"></span>Export to PDF</a>
    </div>
</div>
<div class="page-container hidden-on-narrow">
    <div class="pdf-page" id="pdfDiv">
        <div class="inner-page">
            <div class="pdf-header">
                @*<span class="company-logo">
                    <img src="~/Images/c1_logo.jpg" />
                </span>*@
            </div>
            <div class="pdf-body">
                <div class="row">
                    <div class="col-md-6">
                            <strong>
                                <span>
                                    Hoar Construction Warehouse<br />
                                    550 Belview Street<br />
                                    Bessemer Al 35020<br />
                                    United States
                                </span>
                            </strong>                    
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/img/HOAR_logo.png" class="visible-lg  visible-md pull-right" style="width:50% ;height:50%" />
                        @*<img src="~/Content/img/PrimaryLogoSm.png" class="visible-lg  visible-md pull-right" style="width:50% ;height:50%" />*@
                    </div>
                </div>

                <div>
                    @using (Html.BeginForm("SubmitInvoice", "Invoice", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmDetails1" }))
                    {
                        @Html.AntiForgeryToken()
                        if (Model != null)
                        {
                            var Status = Model.InvoiceStatus;
                            @Html.HiddenFor(p => p.InvoiceID)
                            if (Model.InvoiceID > 0)
                            {
                                var job = Model.InvoiceJobNumber;
                                if (job == "NULL")
                                {
                                    <div id="employee"><strong><label class="col-md-6">Employee:@Model.Employee</label></strong></div>
                                }
                                else
                                {
                                    <div id="JobAddress" class="col-md-6">
                                        <p>
                                            <strong><span><label>JOB @ViewBag.JobDes</label></span></strong><br />
                                            <strong><span calss="pull-left"><label>@ViewBag.MailAddress</label></span></strong><br />
                                            <strong><span><label>@ViewBag.MailCity   @ViewBag.MailState  @ViewBag.MailZip </label></span></strong><br />
                                        </p>
                                    </div>
                                }

                                    <div class="row">
                                        <div>
                                            <b><span><strong>Invoice#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.InvoiceID </strong></span></b>
                                        </div>
                                        <div>
                                            <b><span><strong>Invoice Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.InvoiceDate.ToString("MM/dd/yyyy")</strong></span></b>
                                        </div>
                                        <div>
                                            <b><span class="col-md-offset-6"><strong>Balance Due&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $@Model.InvoiceTotal </strong></span></b>
                                        </div>
                                    </div>

                            }
                            <br />
                            <div class="table-responsive">
                                <table id="table_id" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Description</th>
                                            <th>Unit Cost</th>
                                            <th>Quantity</th>
                                            <th>LineTotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model.InvoiceDetails)
                                            {
                                                <tr>
                                                    <td>@item.ItemInventoryID</td>
                                                    <td>@item.ItemInventoryDescription</td>
                                                    <td>@item.ItemInventoryUnitCost</td>
                                                    <td>@item.InvoiceDetailQuantity</td>
                                                    <td>@item.InvoiceDetailLineItemTotal</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <b>
                                    <span class="col-md-offset-9">
                                        <strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.InvoiceTotal
                                        </strong>
                                    </span>
                                </b>
                                <b>
                                    <span class="col-md-offset-9">
                                        <strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount Paid  &nbsp;&nbsp;0.00
                                        </strong>
                                    </span>
                                </b>
                                <div class="container">
                                    <div class="col-md-8"></div>
                                    &nbsp;&nbsp;&nbsp;<div class="col-md-3">
                                        <table id="table_id1" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Balance Due(USD)</th>
                                                    <th> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;$@Model.InvoiceTotal</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                           </div>
                    </div>
                                <br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br />
                                <div class="row">
                                    Terms: <strong>@Model.InvoiceTerms</strong>
                                </div>
                                <br /><br />
                                <div class="row">
                                    Notes:<strong>@Model.InvoiceNotes</strong>
                                </div>
                                }
                                }
                            </div></div>
            </div>
        </div>
    </div>
@section scripts{
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/pako_deflate.min.js"></script>
    <script language="javascript" type="text/javascript">

    kendo.pdf.defineFont({
        "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });
    var id = "Invoice" + "@Model.InvoiceID";
    function getPDF() {
        kendo.drawing
            .drawDOM($('#pdfDiv'), {
                paperSize: "auto", forcePageBreak: ".page-break", multiPage: true,
                margin: { left: "0cm", top: "1cm", right: "0cm", bottom: "1cm" }
            })
            .then(function (group) {
                kendo.drawing.pdf.saveAs(group, id);
                // Render the result as a PNG image
                kendo.drawing.exportImage.saveAs(group, id);
            });

    }

    </script>
}
