@model WISModels.InvoiceDetailModel
@{
    Layout = null;
}
@if (Model != null)
{
    using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.HiddenFor(p => p.InvoiceDetailID)
    @Html.HiddenFor(p => p.InvoiceID)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-xs-4 ">Inventory</label>
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.Inventory, ViewBag.Inventory as IEnumerable<SelectListItem>, "--Yes--", new { Class = "form-control", @onchange = "javaScript:InventoryDtls();" })
            @Html.ValidationMessageFor(model => model.Inventory, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="Categorydiv">
        <label class="control-label col-xs-4">Category</label>
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.ItemCategoryID, ViewBag.Category as IEnumerable<SelectListItem>, "--Select--", new { Class = "form-control", style = "max-height: 100px;overflow: auto;", onmouseover = "this.size=5;", onmouseout = "this.size=1;", onchange = "javaScript:GetItemInventoryList()" })
            @Html.ValidationMessageFor(model => model.ItemCategoryID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="itmdiv">
        <label class="control-label col-xs-4 ">Item</label>
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.ItemInventoryID, Enumerable.Empty<SelectListItem>(), "--Select--", new { Class = "form-control", style = "max-height: 100px;overflow: auto;", onmouseover = "this.size=5;", onmouseout = "this.size=1;", @onchange = "javascript:GetExisProdDetails();" })
            @Html.ValidationMessageFor(model => model.ItemInventoryID, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.ItemInventoryDescription, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4 ">Cost Code/GL</label>
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.InvoiceDetailCostCodeGL, ViewBag.Gllists as IEnumerable<SelectListItem>, "--Select--", new { Class = "form-control", @onchange = "javaScript:GLDtls();" })
            @Html.ValidationMessageFor(model => model.InvoiceDetailCostCodeGL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4 ">Invoice CostCode </label>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.InvoiceDetailCostCodeNonLabor, new { Class = "form-control",@onchange = "javascript:formatInvCostCode()" })
            @Html.ValidationMessageFor(model => model.InvoiceDetailCostCodeNonLabor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="display:none" id="Labordiv">
        <div class="form-group">
            <label class="control-label col-xs-4 ">Item</label>
            <div class="col-md-8">
                @Html.Hidden("Ivennum", Model.ItemInventoryID)
                @Html.TextBoxFor(model => model.ItemInventoryDescription, new { Class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemInventoryDescription, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Model.ItemInventoryID
    <div class="form-group" id="inventorydiv" style="display:none">
        <label class="control-label col-xs-4 ">Item1</label>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.NonInventoryItem, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NonInventoryItem, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NonInventoryItem, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.Categories)
    <div>
        @Html.HiddenFor(m => m.ItemInventoryID)
    </div>


    <div class="form-group">
        <label class="control-label col-xs-4 ">Unit Cost</label>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ItemInventoryUnitCost, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ItemInventoryUnitCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-4 ">Invoice Quantity</label>
        <div class="col-md-8">
            @Html.Hidden("prePrice", Model.InvoiceDetailQuantity)
            @Html.TextBoxFor(model => model.InvoiceDetailQuantity, new { @class = "form-control", onchange = "javascript:PopulateItmTotal()", id = "InvoiceQuantity" })
            @Html.ValidationMessageFor(model => model.InvoiceDetailQuantity, "", new { @class = "text-danger" })
            Available Quantity:<span id="currentqty">@Model.InvoiceDetailQuantity</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-4 ">Invoice Total</label>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.InvoiceDetailLineItemTotal, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InvoiceDetailLineItemTotal, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer" id="footer">
        <button class="btn btn-primary" id="btnSave" data-dismiss="modal" type="button" onclick="SaveItemforedit();">Save</button>
        <button class="btn btn-primary" id="btnclose" data-dismiss="modal" type="button">Close</button>
    </div>
    <div class="modal-footer" id="footer1" style="display:none">
        <button class="btn btn-primary" id="btnSave" data-dismiss="modal" type="button" onclick="SaveItem1foredit();">Save</button>
        <button class="btn btn-primary" id="btnclose" data-dismiss="modal" type="button">Close</button>
    </div>
</div>
    }
}

    @section scripts{
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {


            });
             function SaveItem1foredit() {
            var InvoiceID = $("#InvoiceID").val()
            var price = $('#ItemInventoryUnitCost').val();
            var qnty = parseInt($('#InvoiceQuantity').val());
            var Code = $('#InvoiceDetailCostCodeGL').val();
           var InvoiceCode = $('#InvoiceDetailCostCodeNonLabor').val();
            var it1 = $('#NonInventoryItem').val(); 
           
            var loadurl = '@Url.Action("EditAddInvoiceItems1", "Invoice")';

            $.ajax(loadurl, {
                type: "Post",
                cache: false,
                data: { Id: Id, qty: qnty, price: price, CGCode: Code, InvCode:InvoiceCode, itm1: it1 , InvoiceId: InvoiceID},
                success: function (data, textStatus, jqXHR) {
                    $("#dvDetails").html(data);
                    $("#myModal").modal("hide");
                }

            });
        }
        </script>
    }




